# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ "main", "workflow", "mongodb" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Start Container
        run: docker compose -f "${{github.workspace}}/mongodb/docker-compose.yml" up -d

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.18'

      - name: Cache dependencies
        uses: actions/cache@v5
        env:
          cache-name: cache-go-deps
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-golang

      - name: Test
        run: go test -v -coverprofile=cov.out ./core ./rdb ./web ./gooogen ./mongodb

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=cov.out -service=github

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args:
            -Dsonar.go.coverage.reportPaths=cov.out
