name: Release

on:
  release:
    types: [published]


jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Tags
        run: |
          git tag core/${{ github.event.release.tag_name }}
          git tag rdb/${{ github.event.release.tag_name }}
          git tag web/${{ github.event.release.tag_name }}
          git tag gooogen/${{ github.event.release.tag_name }}
          git tag test/${{ github.event.release.tag_name }}
          git push --tags origin
